body{
    background-color: aliceblue;
   
    text-align: center;
}
.box{
    display: flex;
    width: 100%;
    padding: 15px 0;
}
h1,p{
    margin: 0;
    padding:0 10px;
    font-size: 0.9rem;
}
.col-image{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.col-text{
    width: 50%;
    text-align: left;
}
.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}
.frd-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.button{
    width: 90%;
    margin: 10px;
    max-width: 300px;
    padding: 10px;
    outline: 0;
    border: 0;
    background-color: aqua;
    color: #fff;
}